
<h1 class="text-center" mat-dialog-title>Modifier l'horaire</h1>
<div mat-dialog-content>
    <form  (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-group edit-form">
        <div class="form-inline">
            <label for="agent">Agent</label>
            <select formControlName="agent" class="form-control">
                <option value="no-select">aucun agent</option>
            </select>
            <button class="btn btn-danger" type="button">Supprimer</button>
        </div>
        
        
        <div class="form-inline">
            <label for="">Debut</label>
            <input type="date" [ngModel]="myEvent.debut"   class="form-control"  ngModel>
            <input type="time" [ngModel]="myEvent.dh" class="form-control"  ngModel>
        </div>
        
        <div class="form-inline">
            <label for="fin">Fin</label>
            <input type="date" [ngModel]="myEvent.fin" class="form-control"  ngModel>
            <input type="time" [ngModel]="myEvent.fh" class="form-control"  ngModel>
        </div>
        <h4>{{myEvent.debut}} - {{myEvent.fin}}</h4>
        <button class="btn btn-outline-secondary" [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
    </form>
</div>