<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <br>
  <h3>SecuryTime</h3>
  <p> <strong>tel:</strong> 0752825307 </p>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="">SecuryTime</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse container-fluid" id="collapsibleNavbar">
    <ul class="nav navbar-nav">
      
      <li class="nav-item dropdown">
        <a data-toggle="collapse" class="nav-link dropbtn"
          routerLink="intervention">Interventions</a>
          <div class="dropdown-content bg-dark">
            <a href="#">Télésurveilleurs</a>
            <a href="#">Sites d'intervention</a>
            <a href="#">Intervention Rondes Reconnaissances divers</a>
          </div>
        </li>
      <li class="nav-item"><a class="nav-link"
          routerLink="devis">Devis</a></li>
      <li class="nav-item"><a class="nav-link"
          routerLink="facturation">Facturation</a></li>
      <li class="nav-item"><a class="nav-link"
          routerLink="agences">Agences</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="planning">Planning</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!isAuth"><a class="nav-link" routerLink="connexion"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion 
</a></li>
      <li class="nav-item" *ngIf="isAuth"><button data-toggle="modal" class="nav-link btn btn-danger"
          data-target="#myModal">Deconnexion <i class="fa fa-power-off" aria-hidden="true"></i>
</button> </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Déconnexion</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>


      <div class="modal-body">
        <button class="btn btn-danger" type="button" (click)="onSignOut()">Deconnecter</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>

</div>
<div class="container">
      <router-outlet></router-outlet>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
