tbody{
    font-size: 0.7em;
}
button,input {
    width: inherit;
    margin: 5px auto !important;
}
 
.sidenav {
  position: relative;
  height: 600px;
  padding-top: 3%;
}

.buttons { 
  display: block; 
  text-align: right; 
  margin: 0;
  padding: 0;
}
.buttons .btn { float: none; }
