    <div class="row">
      <button class="btn btn-primary col-md-3" (click)= "gotoNewSite()">Ajouter un Site</button>
      <button class="btn btn-success col-md-3" (click)= "gotoNewAgent()">Ajouter un agent</button>
      <button class="btn btn-primary col-md-3 offset-md-3" *ngIf="isSiteShow" (click)= "switchSiteAgents()">Afficher les agents</button> 
      <button class="btn btn-primary col-md-3 offset-md-3" *ngIf="!isSiteShow" (click)= "switchSiteAgents()">Afficher les sites</button> 
    </div>
    
    <div class="container">
      <h3 *ngIf="!isSiteShow">La liste des agents</h3>
      <h3 *ngIf="isSiteShow">La liste des sites</h3>
      <router-outlet></router-outlet>
    </div>
