.event-item{
    width: 100%;
    li{
        margin: 1px auto !important ;
        
    }
}

.event-content{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    h5{
        color: white;
    }
    p{
        color: gray;
    }
}
