<div class="container-fluid">
  <div class="row content">
    <div class="col-md-3 sidenav">
      <button class="btn btn-primary" *ngIf="isSiteShow" (click)="switchSiteAgents()">Afficher
        les agents</button>
      <button class="btn btn-primary" *ngIf="!isSiteShow" (click)="switchSiteAgents()">Afficher
        les sites</button>
      <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search">
      </form>
      <div  #external>
      <ul *ngIf="isSiteShow" class="list-group text-center">
        <li class="list-group-item fc-event" *ngFor="let site of sites" draggable="true">{{site.dataSite.nom}}</li>
      </ul>

      <ul  *ngIf="!isSiteShow" class="list-group text-center" >
        <li class="list-group-item fc-event" *ngFor="let agent of agents" draggable="true">{{agent.nom}}</li>
      </ul>
    
    </div>
    </div>


    <div class="col-md-9">
        <button class="btn btn-primary col-md-4 offset-md-4"
        data-toggle="modal" data-target="#serviceModale">Ajouter un service</button>
      <!-- <router-outlet></router-outlet> -->
      <full-calendar #calendar [events]="[]" *ngIf="options"
        [header]="options.header" [locales]="options.locales"
        [editable]="true"
        (dateClick)="dateClick($event)" 
        (eventClick)="eventClick($event)"
        (eventDragStop)="eventDragStop($event)"
        (dayRender)="dayRender($event,e1)"
        [plugins]="options.plugins" 
        [locales]="locales">
        </full-calendar>
    </div>
  </div>
</div>



