<div class="container-fluid">
  <div class="row content">
    <div class="col-md-3 sidenav">
      <button class="btn btn-primary" *ngIf="isSiteShow" (click)="switchSiteAgents()">Afficher
        les agents</button>
      <button class="btn btn-primary" *ngIf="!isSiteShow" (click)="switchSiteAgents()">Afficher
        les sites</button>
      <form class="form-inline">
        <input class="form-control" type="text" placeholder="Search">
      </form>
      <div  #external>
      <ul *ngIf="isSiteShow" class="list-group text-center">
        <li class="list-group-item fc-event" *ngFor="let site of sites" draggable="true">{{site.dataSite.nom}}</li>
      </ul>

      <ul  *ngIf="!isSiteShow" class="list-group text-center" >
        <li class="list-group-item fc-event" *ngFor="let agent of agents" draggable="true">{{agent.nom}}</li>
      </ul>
    
    </div>
    </div>



    <div class="col-md-9">
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ajouter un service</button>
      <hr>

      <pre>{{closeResult}}</pre>
      <!-- <router-outlet></router-outlet> -->
      <full-calendar #calendar [events]="[]" *ngIf="options"
        [header]="options.header" [locales]="options.locales"
        [editable]="true"
        (dateClick)="open(content,$event)" 
        (eventClick)="eventClick($event)"
        (eventDragStop)="eventDragStop($event)"
        (dayRender)="dayRender($event,e1)"
        [plugins]="options.plugins" 
        [locales]="locales">
        </full-calendar>
    </div>
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input id="dateOfBirth" class="form-control" [value]="day" placeholder="yyyy-mm-dd" [(ngModel)]="day" name="dp" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>
</div>



