<div class="container-fluid row">
  
      <!-- <router-outlet></router-outlet> -->
    <div class="sidesection col-md-3">
      <div *ngIf="!isEditable" class="buttons btn-group btn-group-justified btn-group-sm" style="width: 100%;background-color:powderblue;">
        <button type="button" class="btn btn-outline-secondary" (click)="showAll='tous'">tous</button>
        <button type="button" class="btn btn-outline-secondary" (click)="showAll='site'">Par sites</button>
        <button type="button" class="btn btn-outline-secondary" (click)="showAll='agent'">Par agents</button>
      </div>
      <!-- Search form -->
      <form class="form-inline active-cyan-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
          aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </form>

      <ul *ngIf="showAll=== 'agent'" class="list-group" #external>
        <h4>Les agents</h4>
        <li class="list-group-item fc-event" *ngFor="let agent of agents,let i =index" [value]="i">{{agent.nom}}</li>
      </ul>
      <hr *ngIf="showAll=== 'tous'"/>
      <ul *ngIf="showAll=== 'site'" class="list-group" #external>
          <h4>Les sites</h4>
        <li class="list-group-item fc-event" *ngFor="let site of sites, let i=index" [value]="i">{{site.dataSite.nom}}</li>
      </ul>

      <div *ngIf="showAll=== 'tous'">
        <ul  class="list-group" >
          <h4>Les agents</h4>
          <li class="list-group-item" *ngFor="let agent of agents" >{{agent.nom}}</li>
        </ul>
        <hr />
        <ul class="list-group">
            <h4>Les sites</h4>
          <li class="list-group-item" *ngFor="let site of sites" >{{site.dataSite.nom}}</li>
        </ul>
      </div>
      
    </div>

    
    <div class="col-md-9">
      <div *ngIf="isEditable">
        <full-calendar #calendar [events]="[]" *ngIf="options"
          [header]="options.header" [locales]="options.locales"
          [editable]="true"
          [droppable]="true"
          (eventMouseEnter)="eventRender($event,e1)"
          (eventClick)="eventClick($event)"
          (eventDrop)="eventDrag($event)"
          (eventResize)="eventResize($event)"
          (eventReceive)="eventReceive($event)"
          (eventMouseLeave)="eventMouseOut($event)"
          [eventResizableFromStart]="true"
          [plugins]="options.plugins" 
          [defaultView]= "'timeGridWeek'"
          [themeSystem]="options.theme"
        >
      </full-calendar>
      <ng-template #popoverElementRef></ng-template>

      </div>
      
      <div *ngIf="!isEditable">
        <full-calendar #calendar [events]="[]" *ngIf="options"
        [header]="options.header" [locales]="options.locales"
        [plugins]="options.plugins" 
        >
      </full-calendar>
      </div>
    </div>
      
  </div>

  



