.container-fluid .row{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    
}
.sidesection{
    height: 100%;
    background-color: beige;
    overflow-y: auto;
    
}

.fc-event{
    background: inherit;
    color: black;
}

.buttons{
    margin: auto;
}

