<div class="container">
    <form  [formGroup]="siteForm" (ngSubmit)="onSaveNewASite()">
        
        <fieldset formGroupName="data_site" >
            <legend>Site d'intervention</legend>
            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <div class="form-group row">
                        <label for="nom" class="col-md-3 col-md-offset-1 col-form-label">Nom du site</label>
                        <input type="text" class="form-control col-md-7" id = "nom" formControlName="nom"/>
                    </div>
                    <div class="form-group row">
                        <label for="nom_agence" class="col-md-3 col-md-offset-1 col-form-label">Nom agence</label>
                        <input type="text" id = "nom_agence" class="form-control col-md-7" formControlName="nom_agence"/>
                    </div>
        
                    <div class="form-group row">
                        <label for="responsable" class="col-md-3 col-md-offset-1 col-form-label">Responsable</label>
                        <input type="text" id = "responsable"  class="form-control col-md-7" formControlName="responsable"/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="code_site" class="col-md-6 col-form-label">Code site</label>
                                <input type="text" id = "code_site"  class="form-control col-md-6" formControlName="code_site"/>
                            </div>
                        </div>  
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="couleur" class="col-md-6 col-form-label">Couleur</label>
                                <select formControlName="couleur" id="couleur" class="form-control col-md-6">
                                    <option value="#ffffff">Blanc</option>
                                    <option value="#ff0000">Rouge</option>
                                    <option value="#00ff00">vert</option>
                                </select>  
                            </div>
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-md-3 col-md-offset-1 col-form-label">Email</label>
                        <input type="text" id = "email"  class="form-control col-md-7" formControlName="email"/>
                    </div>
                    <div class="form-group row">
                        <label for="tel" class="col-md-3 col-md-offset-1 col-form-label">Tel </label>
                        <input type="text" id = "tel"  class="form-control col-md-7" formControlName="tel"/>
                    </div>
                            
                </div>
            </div>    
        </fieldset>                 
        
            
        <fieldset formGroupName="adresse">
            <legend>adresse de Site</legend>
            
            <div class="form-group row">
                <label for="voie" class="col-md-3 col-md-offset-1 col-form-label">Voie</label>
                <input type="text" class="form-control col-md-7" id = "voie" formControlName="voie" placeholder="N° Rue N° porte, nom de la Rue"/>
            </div>
            <div class="form-group row">
                <label for="complement" class="col-md-3 col-md-offset-1 col-form-label">Complement</label>
                <input type="text" class="form-control col-md-7" id = "complement" formControlName="complement" placeholder="Complement d'adresse"/>
            </div>
            <div class="row">
                <div class="form-group col-md--4 row">
                    <label for="commune" class="col-md-4 col-md-offset-1 col-form-label">Commune</label>
                    <input type="text" id = "commune" class="form-control col-md-6" formControlName="commune" placeholder="CP, BP, BL"/>
                </div> 
                <div class="form-group col-md-4 row">
                    <label for="ville" class="col-md-4 col-md-offset-1 col-form-label">ville</label>
                    <input type="text" id = "ville" class="form-control col-md-6" formControlName="ville"/>
                </div>
                <div class="form-group col-md-4 row">
                    <label for="pays" class="col-md-4 col-md-offset-1 col-form-label">Pays</label>
                    <input type="text" id = "pays" class="form-control col-md-6" formControlName="pays"/>
                </div>
                  
            </div>
            
        </fieldset>
        

        <fieldset>
            <div class="form-group row">
                <label for="id_client" class="col-md-3  col-form-label">Nom du Client </label>
                <select class="form-control col-md-3" id = "id_client" formControlName="id_client">
                    <option *ngFor="let client of clients" [value]="client.id">{{client.client_data.nom}}</option>
                </select>
    
                <button class="btn btn-primary col-md-3 offset-md-3" type="button" data-toggle="modal" data-target="#clientModal">Nouveau client</button>

                <!-- The Modal -->
                <div class="modal" id="clientModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form [formGroup]="clientForm" (ngSubmit)="onAddClient()">
                                    <fieldset>
                                        <legend>Client</legend>
                                        <input type="text" formControlName="nom" class="form-control" placeholder="Nom du client" id="nom">
                                        <input type="text" class="form-control" placeholder="code facture" formControlName="code_facture">
                                    </fieldset>
                                    
                                    <fieldset formGroupName="adresse" id="adresse">
                                        <legend>Adresse</legend>
                                        <input type="text" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.rue.errors }" formControlName="rue" placeholder="N° Rue N° porte" id="rue">
                                        <input type="text" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.code_postale.errors }"
                                        formControlName="code_postale" placeholder="Code Postale" id="code_postale">
                                        <input type="text" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.ville.errors }"
                                        formControlName="ville" placeholder="ville" id="ville">
                                        <input type="text" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.pays.errors }"
                                        formControlName="pays" placeholder="Pays" id="pays">
                                    </fieldset>

                                    <fieldset formGroupName="contacts" id="contacts">
                                        <legend>Contacts</legend>
                                        <input type="text" class="form-control" 
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                        formControlName="email" placeholder="adresse email" id="email">
                                        <input type="tel" class="form-control" placeholder="Mobile(75-63-45-42)"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"    
                                         formControlName="mobile" id="mobile">
                                        <input type="tel" class="form-control" formControlName="fixe" placeholder="fixe (72-25-78-56)"
                                        [ngClass]="{ 'is-invalid': submitted && f.fixe.errors }"
                                         id="fixe">
                                    </fieldset>
                                    <div class="row">
                                        <button type="button" class="btn btn-danger col-md-4" data-dismiss="modal">Close</button>
                                        <button class="btn btn-success col-md-4 offset-md-4" [disabled]="clientForm.invalid" type="submit">Valider</button>
                                    </div>
                                    
                                </form>
                            </div>
                    
                            <!-- Modal footer -->
                            
                    
                        </div>
                        </div>
                    </div>
            </div>
            
        </fieldset> 
                                    
    
        <div class="row">
            <button class="btn btn-danger col-md-4" type="button">Annuler</button>
            <button class="btn btn-success col-md-4 offset-md-4" type="submit" [disabled]="siteForm.invalid">Enrégistrer</button>  
        </div>

    </form>
</div>