<div class="container-fluid">
    <div>
        <ngb-carousel [interval]="2000">
            <ng-template ngbSlide>
                <img src="../assets/planning.gif" style="width:100%" alt="Random first slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">planning</h3>
                    <p class="text-dark">Faire votre planning</p>
                    <button class="btn btn-primary">savoir plus</button>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/facture.jpg" style="width:100%" alt="Random second slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Facturarion</h3>
                    <p class="text-dark">Facturer vos clients</p>
                    <button class="btn btn-primary">savoir plus</button>

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/Devis.png" style="width:100%" alt="Random third slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Devis</h3>
                    <p class="text-dark">Demande et faire devis</p>
                    <button class="btn btn-primary">savoir plus</button>

                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/vehicule.jpg" style="width:100%" alt="Random third slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Interventions</h3>
                    <p class="text-dark">Gerer vos Interventions</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <h3 class="text-divider"><span>Facture</span></h3>
    <h3 class="text-divider"><span>Facture</span></h3>
    <h3 class="text-divider"><span>Facture</span></h3>
</div>



