<div class="row home_page">
    <div class="col-md-4 col-md-offset-2">
        <img src="../assets/lion.png" class="img-responsive" alt= "Mon Logo" style="width:100%" >
    </div> 

    <div class="col-md-8 col-md-offset-2 myCaroussel">
        <ngb-carousel [interval]="2000">
            <ng-template ngbSlide>
                <img src="../assets/planning.gif" style="width:100%" alt="Random first slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">planning</h3>
                    <p class="text-dark">Faire votre planning</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/facture.jpg" style="width:100%" alt="Random second slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Facturarion</h3>
                    <p class="text-dark">Facturer vos clients</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/Devis.png" style="width:100%" alt="Random third slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Devis</h3>
                    <p class="text-dark">Demande et faire devis</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="../assets/vehicule.jpg" style="width:100%" alt="Random third slide">
                <div class="carousel-caption">
                    <h3 class="text-dark">Interventions</h3>
                    <p class="text-dark">Gerer vos Interventions</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<h3 class="text-divider"><span>Facture</span></h3>
<h3 class="text-divider"><span>Facture</span></h3>
<h3 class="text-divider"><span>Facture</span></h3>

